# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
dist-*
*.vsix
.vite-ssg-dist
.vite-ssg-temp
coverage

# local env files
*.local
.eslintcache
tmp

# log
*.log

# auto generate
components.d.ts
typed-router.d.ts
